body 
{
    margin: 5% auto;
    background: #f2f2f2; 
    color: #444444; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
    font-size: 16px; 
    line-height: 1.8; 
    text-shadow: 0 1px 0 #ffffff; 
    max-width: 60%;
 }

code 
{
    background: white;
}
            
a 
{
    border-bottom: 1px solid #444444;
    color: #444444; 
    text-decoration: none;
}
            
a:hover {
    border-bottom: 0;
}

h1 {
    color: #4b2e83;
}

h2 {
    color: #4b2e83;
}

h4 {
    margin-left: 50px; /* change this as you like */
  }

.column {
    float: left;
    width: 50%;
    }

.bold
{
    border-bottom: 0;
    color: #444444; 
    text-decoration: none;
    font-weight: bold;
}

.bold:hover {
    border-bottom: 1px solid #444444;
}